POSTGRES_IMAGE=postgres:18.3
POSTGRES_CONTAINER_NAME=topicos-av2-postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_dev
POSTGRES_TEST_DB=app_test
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/app_dev
